#loginContainer{
    width: 50%;
    max-width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.5);
    transform: translateY(50%);
}

input {
    max-height: 39px;
}


#loginTitle{
    margin-left: 10%;
    padding-top: 25px;
    color: white;
}


#formsect{
    width: 70%;
    margin: auto;
}


#btns{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
