header{
    width: 100%;
    height: 150px;
    background-color: rgba(255,255,255,0.5);
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: gold;
}



#doellocPage{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}


#title{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    padding-top: 45px;
}


#doelContent{
    width: 100%;
    height: 550px;
    display: block;
    margin-bottom: 30px
}


#locTerm{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
}


#listView{
    width: 30%;
    min-width: 350px;
    margin-left: 50px;
    margin-top: 50px;
    display: inline-block;
    float: left;
}


#mapContainer{
    background-color: white;
    height: 400px;
    width: 40%;
    display: inline-block;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}


footer{
    height: 50px;
    background-color: rgba(255,255,255,0.5);
    border-top-style: solid;
    border-top-color: gold;
    border-top-width: 3px;
    color: white;
    text-align: center;
}


.whitetxt{
    color: white;
}



#addTitle{
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
    padding-bottom: 10px;
}


#addCont{
    width: 60%;
    height: 400px;
    background-color: rgba(255,255,255,0.5);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
}


#forminps{
    width: 60%;
    transform: translateY(40%);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}


footer p{
    transform: translateY(50%);
}


hr {
    background-color: rgba(255,255,255,0.5);
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    margin: 18px 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }